/* общие стили */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-logo-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* основной цвет текста  212121 */
/* вторичный цвет текста 757575 */
/* белый #FFFFFF */
/* синий цвет лого и акцент 2196F3 */
/* вторичный цвет фона #F5F4FA */
/* фон футера #2F303A */

.header-logo {
  color: #000000;
}

/* nav */

.site-nav .link {
  color: var(--primary-text-color);
}
.contacts .link {
  color: var(--secondary-text-color);
}

/* section */

.section-title {
  color: var(--primary-text-color);
}

/* features */

.features .desc {
  color: #var(var(--secondary-text-color));
}

/* акцент */

.link:hover,
.link:focus {
  color: var(--accent-logo-color);
}

test